 body {
  background-color: #ff99cc;
 }
 h1 {
  background-color: #cc33ff;
  text-align: center;
  color: #ffffff;
  -webkit-text-stroke:  1.5px  #000000;
  font-family: cursive, serif;

 }
 h2 {
  background-color: #ffccff;
  text-align: center;
 }
 h3 {
  background-color: #ffccff;
 ;
 }
td {
	border: 3px solid #000000;
}
table {
	background-color: #ffffff;
   border-spacing: 0px;
}
h2 {
    font-family: cursive, serif;
}
td {
    font-family: monospace;
}
img {
    align-content: right;
}

.rotfarb {
    background-color: red;
    color: fuchsia;
}