body
{
    margin: 0px;
    padding: 10px;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    border: solid black 5px;
    height: calc( 100vh - 10px);
    
}

h1 
{ 
    text-align: center;    
} 

